<p>user-registration works!</p>
<form [formGroup]="user" (ngSubmit)="registerUser()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username">
        <!-- Display error message if username is required -->
        <div *ngIf="user.get('username')?.invalid && user.get('username')?.touched">
            <div *ngIf="user.get('username')?.errors?.['required']">
                Username is required.
            </div>
        </div>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">

        <div *ngIf="user.get('email')?.invalid && user.get('email')?.touched">
            <div *ngIf="user.get('email')?.errors?.['required']">
                Email is required.
            </div>
            <div *ngIf="user.get('email')?.errors?.['emailPattern']">
              Invalid email format. Please use an email address ending with 'gmail.com'.
          </div>
          
        </div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">

        <div *ngIf="user.get('password')?.invalid && user.get('password')?.touched">
            <div *ngIf="user.get('password')?.errors?.['required']">
                Password is required.
            </div>
            <div *ngIf="user.get('password')?.errors?.['pattern']">
                Password must contain at least one uppercase letter, one lowercase letter, and one symbol.
            </div>
            <div *ngIf="user.get('password')?.errors?.['minlength']">
                Password must be at least 8 characters long.
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="user.invalid">Register</button>
</form>
