.spotify-footer {
  background-color: #121212;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  margin-left: 0;
  bottom: 0;
  width: 100%;
  height: 230px;
  padding: 10px;
  }
  
  .footer-content {
    margin-left: 0;
    display: flex;
    justify-content:space-between;
    padding-right: 600px;
  }
  
  .footer-section {
    text-align: left;
    margin-right: 25%;
    width: 250px;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 110px;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }

  .footer-icon{
      display: flex;
      cursor: pointer;
      gap: 20px;
      margin-right: 0;
      font-size: 30px;
  }
  .footer-icon>i:hover{
    transition: color 0.3s ease;
    color: #1db954;
  }
  span{
    margin-right: 290px;
    color: white;
  }
 