.spotify-footer {
  width: 78%;
  height: 74px;
  background: #0f0f0f;
  position: fixed;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: lightgray;
  font-weight: bold;
  font-size: 18px;
  padding-right: 200px;
  margin-left: 16.5%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
    max-width: 250px;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }