<footer class="spotify-footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>About</h3>
        <ul>
          <li>Company</li>
       
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Communities</h3>
        <ul>
      
          <li>Developers</li>
         
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Useful Links</h3>
        <ul>
          <li>FAQ</li>
         
        </ul>
      </div>

      <div class="footer-icon">
       
          <i class="fab fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
        
      </div>




      <!-- <div class="footer-icon">
        <i class="fab fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
      </div> -->
    </div>
    <hr>
    <span>Spotify 2024</span>
  </footer>