<!-- artist-songs.component.html -->
<div class="artist-songs-container">
    <h2>{{ artist }} Songs</h2>
    <ul class="song-list">
        <li *ngFor="let song of artistSongs" class="song">
            <div class="song-details">
                <img class="song-image" [src]="'http://localhost:3000/' + song.imageFile" alt="Song Image">
                <div>
                    <div class="song-title">{{ song.title }}</div>
                    <div class="song-info">{{ song.artist }} - {{ song.album }}</div>
                </div>
            </div>
            <button class="play-button">Play</button>
        </li>
    </ul>
</div>
