
.container {
    margin-top: 20px;
}

.playlist-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0 ;
}

.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.song-details {
    display: flex;
    align-items: center;
}

.song-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}

.play-button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.play-button:hover {
    background-color: #45a049;
}

.song-title {
    font-weight: bold;
}

.song-info {
    color: #777;
}
