<!-- <app-card></app-card> -->

<!-- playlist.html -->
<div class="playlist-header">
    <div class="column">
      <h2>Playlist Name</h2>
    </div>
    <div class="column">
      <button class="add-to-playlist-button" (click)="addSelectedToPlaylist()">Add Selected to Playlist</button>
    </div>
  </div>

  <div class="song-list">
    <div *ngFor="let song of songs" class="song" [class.selected]="isSongSelected(song)">
      <div class="song-details">
        <div class="song-title">{{ song.title }}</div>
        <div class="song-info">{{ song.album }} - {{ song.artist }}</div>
      </div>
      <button class="add-button" (click)="addToPlaylist(song)">ADD</button>
    </div>
  </div>
  
  <!-- <div class="playlist">
    <h3>Current Playlist: {{ currentPlaylistName }}</h3>
    <ul>
      <li *ngFor="let song of playlist">{{ song.title }} - {{ song.artist }}</li>
    </ul>
  </div> -->

  
<router-outlet></router-outlet>