/* Base Styles */
form {
    max-width: 600px; 
    margin: 20px auto; 
    margin-top: 7%;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  .mat-icon-button {
    background-color: transparent;
  }
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h2 {
    margin: 0;
    font-size: 24px;
    color: #1db954;
  }
  
  label {
    font-weight: bold;
    color: #000000;
  }
  
  input[type="text"],
  input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    padding: 10px;
  }
  
  button[type="submit"] {
    background-color: #1db954;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #4cd17a;
  }
  
  .close-button {
    position: absolute;
    top: 1px;
    right: 5px; /* Adjust this value as needed */
 font-size: small;
  }

  .close-icon {

    color: black; /* Set icon color */
  }
  
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    form {
      max-width: 90%;
      padding: 15px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    input[type="text"],
    input[type="file"] {
      padding: 8px;
      margin-bottom: 10px;
    }
  
    button[type="submit"] {
      padding: 10px 16px;
    }
  }
  
  @media only screen and (max-width: 250px) {
    form {
      padding: 10px;
    }
    
    input[type="text"],
    input[type="file"] {
      width: calc(100% - 20px);
      padding: 6px;
      margin-bottom: 8px;
    }
  
    button[type="submit"] {
      padding: 8px 14px;
    }
  }
  