form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f6f6f6;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  button[type="submit"] {
    background-color: #1db954;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1ed760;
  }
  button.mat-icon-button {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer;
  }
  
  button.mat-icon-button:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    border-radius: 50%; /* Optional: Add border-radius for a circular button effect */
  }