 
  <div class="card-container">
    <div *ngFor="let song of songs" class="card" (click)="showSongDetail(song)" (mouseover)="togglePlayIcon(song)" (mouseout)="togglePlayIcon(song)">
      <a [routerLink]="['/home/song', song.customId]"></a>
      <img [src]="song.imageUrl" alt="{{ song.title }}" class="card-image">
      <div class="card-content">
        <h3 class="card-title">{{ song.title }}</h3>
        <div class="play-icon" *ngIf="song.showPlayIcon">
          <i class="fa fa-play" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  
 
  
  
  