<div class="dialog-content">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
  <div class="detail-section">
    <div class="circle-background"></div>
    <div class="circle-background1"></div>

    <div class="information">
      <b>
        <h1 class="heading__h1">Music for everyone.</h1>
      </b>
      <div class="little-info">
        <ul class="custom-list">
          <li>Personalized playlists based on your taste</li>
          <li>Shuffle play</li>
          <li>Ad Free Songs</li>
          <li>Play any track</li>
          <li>High Quality Audio</li>
        </ul>
        <span style="font-size:0.85em;">Join the music revolution today!</span>
        <br>
        <span style="font-size:0.85em;">Unleash the power of sound with us!</span>
      </div>
    </div>
  </div>
  <div class="form-section">
    <div class="form-conatiner">


      <form [formGroup]="user" (ngSubmit)="loginUser()">
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email">
          <div class="error" *ngIf="user.get('email')?.invalid && user.get('email')?.touched">
            <div *ngIf="user.get('email')?.errors?.['required']">
              Email is required.
            </div>
            <div class="error"*ngIf="user.get('email')?.errors?.['emailPattern']">
              Invalid email format. Please use an email address ending with 'gmail.com'.
            </div>
          </div>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password">
          <div class="error" *ngIf="user.get('password')?.invalid && user.get('password')?.touched">
            <div *ngIf="user.get('password')?.errors?.['required']">
              Password is required.
            </div>
            <div class="error" *ngIf="user.get('password')?.errors?.['pattern']">
              Password must contain at least one uppercase letter, one lowercase letter, and one symbol.
            </div>
            <div  class="error"*ngIf="user.get('password')?.errors?.['minlength']">
              Password must be at least 8 characters long.
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="user.invalid"(click)="loginUser()">Sign In</button>
      </form>
    </div>
  </div>

</div>