<div id="side">
    <div class="sidebarheader">
        <h2>Admin Dashboard</h2>
    </div>
    <div class="sidebar1">
        <span> <i class="fas fa-chart-bar"></i>&nbsp;Dashboard</span>
    </div>

    <div class="Common" id="Users">
        <span class="CommomText" id="UsersText"><a routerLink="Users" class="nav-link">
            <i class="fas fa-users"></i>
            &nbsp;Users</a></span>
    </div>
    <div class="Common" id="Songs">
        <span class="CommomText" id="SongsText"><a routerLink="Songs" class="nav-link">
            <i class="fas fa-music"></i>
            &nbsp;Songs</a></span>
    </div>
    <div class="logout-btn">
        <a (click)="logout()" class="nav-link">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </div>
   
</div>

