.playlist-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 200px; /* Set the width of each playlist card */
}
.user-details{
  display: flex;
}
.playlist-card h3 {
  padding: 10px;
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-size: 16px; /* Adjust the font size as needed */
}

.song-card {
  display: flex;
  align-items: center;
  padding: 10px;
}

.song-image-container {
  flex: 0 0 auto;
  margin-right: 10px;
}

.song-image {
  width: 50px; /* Adjust the image size as needed */
  height: 50px; /* Adjust the image size as needed */
  object-fit: cover;
}

.song-details {
  flex: 1 1 auto;
}

.song-title {
  font-weight: bold;
  font-size: 14px; /* Adjust the font size as needed */
  margin-bottom: 5px;
}


  .song-info {
    font-size: 10px; /* Adjust the font size as needed */
  }
   /* Adjust the font size as needed */

