<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<div class="user-details">
  <ng-container *ngIf="playlists && playlists.length > 0; else noPlaylists">
    <div *ngFor="let playlist of playlists" class="playlist-details">
      <h3>{{ playlist.name }}</h3>
      <div class="songs-list">
        <div *ngFor="let song of playlist.songs" class="song-details">
          <img class="song-image" [src]="'http://localhost:3000/' + song.imageFile" alt="Song Image">
          <div class="song-info">
            <div class="song-title">{{ song.title }}</div>
            <div class="song1">Artist: {{ song.artist }}</div>
            <div class="song1">Album: {{ song.album }}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noPlaylists>
    <p>No playlists created by this user yet.</p>
  </ng-template>

  <div *ngIf="loading">Loading...</div>
</div>
