<div id="Left">
    <a routerLink="/home" class="Logo">
        <img src="../../../../assets/spotify_logo_final.png" alt="Spotify Logo" class="spotify-logo--img">
    </a>
   
    <div class="Common" id="Home">
        <i class="fa-solid fa-house ok" id="HomeIcon"></i>
        <span class="CommomText" id="HomeText"><a href="/home" class="nav-link">Home</a></span>
    </div>
    <div class="Common" id="Search" >
        <i class="fa-solid fa-search ok" id="SearchIcon"></i>
        <span class="CommomText" id="SearchText"><a routerLink="search" class="nav-link">Search</a></span>
    </div>
    <div class="Common" id="Library">
        <i class="fa-solid fa-book-medical ok" id="LibraryIcon"></i>
        <span class="CommomText" id="LibrabyText"><a routerLink="library" class="nav-link">Your Library</a></span>
    </div>
    <div class="Common" id="PlayList">
        <i class="fa-solid fa-plus ok" id="PlayListIcon"></i>
        <span class="CommomText" id="PlayListText"><a routerLink="playlist" class="nav-link">Create Playlist</a></span>
    </div>
    <div class="Common" id="Premium">
        <i class="fa-solid fa-gem ok" id="LikedIcon"></i>
        <span class="CommomText" id="LikedText"><a routerLink="premium" class="nav-link">Premium</a></span>
    </div>
    <div class="Line"></div>
</div>


