#Left {
    /* width: 100%;
    height: 100%;
    background-color: #121212;
    color: #fff;
    padding-right: 10px;
    margin: -10px;
    box-sizing: border-box; */


    width: 300px;
    height: 100%;
    background-color:  #121212;
    top:0;
    color: #fff;
    box-sizing: border-box;
    position:fixed;
    margin-left: 0;
  }
  
  .Logo {
    padding: 20px;
    color: #1db954;
  }
  
  .Common {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .Common:hover {
    background-color: #282828;
  }
  
  .Common:hover .CommomText {
    color: #1db954;
  }
  
  .ok {
    margin-right: 10px;
  }
  
  .Line {
    border-bottom: 1px solid #555;
    margin: 20px;
  }
  
  .CommomText {
    font-size: 16px;
  }

  .nav-link {
    text-decoration: none; 
    color: #fff; 
  }
  
  /* Responsive Styles */
  @media (max-width: 576px) {
    #Left {
      width: 100%;
      padding-right: 0;
      margin: 0;
    }
  
    .Common {
      padding: 10px;
    }
  }