<header>
    <nav class="spotify-top-nav">
      <div class="navigation">
        <button class="forward-btn"> < </button>
        <button class="backward-btn"> > </button>
<div class="search-container">
  <input type="text" class="search-box" placeholder="What do you want to play?" *ngIf="isSearchRoute">

</div>
  
      </div>

      <div class="auth">
        <button class="sign-in"  (click)="openSignUpModal()"> Sign Up </button>
        <button class="login"(click)="openLoginInModal()"> Login </button>
      </div>
    </nav>
</header>