<header>
  <nav class="spotify-top-nav">
    <div class="navigation">
      <button class="forward-btn"> < </button>
      <button class="backward-btn"> > </button>

      <div class="search-container">
<input type="text" class="search-box" placeholder="What do you want to play?" *ngIf="isSearchRoute?.valueOf()" (input)="search($event)">
</div>

    </div>

    <div class="auth">
      <button class="sign-in"  (click)="openSignUpModal()"> Sign Up </button>
      <button class="login" *ngIf="!isLoggedIn" mat-button (click)="openLoginInModal()">Login</button>
<button class="login" *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>

    </div>
  </nav>
</header>
<a routerLink="/search-results">Search Results</a>