/* category-card.component.css */

.category-card {
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .category-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.7); /* Adjust the brightness for the overlay effect */
  }
  
  .category-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
  }
  
  .category-heading {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Define different colors for each category */
  .category-card.category-hindi::before {
    background-color: #ff00b3; /* Adjust the color */
  }
  
  .category-card.category-rock::before {
    background-color: #004d99; /* Adjust the color */
  }
  
  .category-card.category-pop::before {
    background-color:  #ff3c00 /* Adjust the color */
  }

  .category-card.category-jazz::before {
    background-color:  #519316 /* Adjust the color */
  }

  .category-card.category-hip-hop::before {
    background-color:  #d7a5e4 /* Adjust the color */
  }

  .category-card.category-classical::before {
    background-color:  #ff0059 /* Adjust the color */
  }

  /* .category-card.category-love::before {
    background-color:  #ffd900
  }

  .category-card.category-party::before {
    background-color:  #00ddff
  } */
  
  /* category-card.component.css */

.line-graphics {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
  }
  
  .line-graphics::before,
  .line-graphics::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; /* Adjust the color */
  }
  
  .line-graphics::before {
    width: 20%; /* Adjust the width of the shorter line */
    height: 2px;
    transform-origin: right; /* Set the transformation origin to the right */
    transform: rotate(45deg); /* Rotate the line to form a diagonal */
  }
  
  .line-graphics::after {
    width: 40%; /* Adjust the width of the longer line */
    height: 2px;
    transform-origin: right; /* Set the transformation origin to the right */
    transform: rotate(45deg); /* Rotate the line to form a diagonal */
  }
   